@charset "utf-8";
@font-face
{
    font-family : "NotoSans";
    font-weight : 100; 
    src : url("../fonts/NotoSansKR-Light.eot"); 
    src : local("※"),
    url("../fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Light.woff") format("woff"),
    url("../fonts/NotoSansKR-Light.otf") format("opentype");
}
@font-face
{
    font-family : "NotoSans";
    font-weight : 300; 
    src : url("../fonts/NotoSansKR-DemiLight.eot"); 
    src : local("※"),
    url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2"),
    url("../fonts/NotoSansKR-DemiLight.woff") format("woff"),
    url("../fonts/NotoSansKR-DemiLight.otf") format("opentype");
}
@font-face
{
    font-family : "NotoSans";
    font-weight : 400; 
    src : url("../fonts/NotoSansKR-Regular.eot"); 
    src : local("※"),
    url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Regular.woff") format("woff"),
    url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face
{
    font-family : "NotoSans";
    font-weight : 500; 
    src : url("../fonts/NotoSansKR-Medium.eot"); 
    src : local("※"),
    url("../fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Medium.woff") format("woff"),
    url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face
{
    font-family : "NotoSans";
    font-weight : 700; 
    src : url("../fonts/NotoSansKR-Bold.eot"); 
    src : local("※"),
    url("../fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Bold.woff") format("woff"),
    url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face
{
    font-family : "Josefin";
    font-weight : 400; 
    src : url("../fonts/JosefinSans-Regular.eot"); 
    src : local("※"),
    url("../fonts/JosefinSans-Regular.woff") format("woff"),
    url("../fonts/JosefinSans-Regular.ttf") format("truetype");
}
@font-face
{
    font-family : "Josefin";
    font-weight : 700; 
    src : url("../fonts/JosefinSans-Bold.eot"); 
    src : local("※"),
    url("../fonts/JosefinSans-Bold.woff") format("woff"),
    url("../fonts/JosefinSans-Bold.ttf") format("truetype");
}

body, ul, h1, h2, h3, h4, h5, h6, p, th, td, button, fieldset{margin : 0px; padding : 0px;}
h1, h2, h3, h4, h5, h6{font-size : inherit; font-weight : inherit;}
ul{list-style : none;}
table{border-spacing : 0px; border-collapse : collapse;}
fieldset{border : none;}
legend, caption{font-size : 0px; line-height : 0px;}
a:link, a:visited, a:hover, a:active{color : inherit; text-decoration : none; border : none;}
img{vertical-align: top; border : none;}
h1, h2, h3, h4, h5, h6{font-size : inherit;}
header, article, section, footer, nav{display : block;}
#gnb li{float : left;}
address{font-style : normal;}
input, select, textarea{font-family : inherit; font-size : inherit; color : inherit;}
input[type="text"], input[type="password"], select, textarea{border : 1px solid #aaa;}
select{-moz-appearance : none; -webkit-appearance : none; appearance:none;}
select::-ms-expand{display : none;}
input[type="submit"], input[type="reset"], button{background : none; border : none; cursor : pointer;}

.fl_left{float : left;}
.fl_right{float : right;}
.po_absol{position : absolute;}
.po_relat{position : relative;}
.cle_both:after{content : ""; display : block; clear : both;}
.txt_cen{text-align : center;}
.hide{font-size : 0px; line-height : 0px; width : 1px; height : 1px; overflow : hidden; position : absolute; left : -9999px; top : 0px; text-indent : -9999px;}
.boder_bx{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.hoverColor{color : #eb651e;}


body
{
    font-family : "NotoSans";
    font-weight: 400;
    color : #555;
}
.wid1920
{
    width : 100%;
}


#skip a
{
    position : absolute;
    left : -9999px;
    top : 0px;
    z-index : 1000;
}
#skip a:focus
{
    width : 100%;
    height : 50px;
    background : #aaa;
    text-align : center;
    line-height : 50px;
    left : 0px;
}

#header,
#header_btn,
.logo.logoMt,
#gnb
#sitemap.siteTop
{
    -webkit-transition : all 0.2s;
    -moz-transition : all 0.2s;
    -o-transition : all 0.2s;
    transition : all 0.2s;
}
#header
{
    position: fixed;
    left : 0px;
    top : 0px;
    z-index: 800;
    width: 100%;
    height: 106px;
    border-bottom : 1px solid #aaa;
    border-top : 1px solid #ddd;
    background : #fff;
    
}
#header_wrap
{
    position : relative;
    width : 1200px;
    height : 106px;
    margin : 0px auto;
}
#header.hdScroll
{
    height : 72px;
}
#header_btn.hdbtnNone
{
    display : none;
}
.logo.logoMt
{
    margin-top : 21px;
}
#gnb.gnbHei
{
    height : 74px;
    line-height : 74px;
}
#sitemap.siteTop
{
    top : -34.5px;
}
.logo
{
    width : 164px;
    height : 29px;
    /* left: 0px;
    top : 39.5px; */
    margin-top : 39.5px;
    
}
.logo a
{
    display : inline-block;
    width : 164px;
    height : 29px;
}
#gnb
{
    height : 106px;
    line-height : 106px;
    font-size : 18px;
}
#gnb > ul
{
    display : inline-block;
    position : relative;
    width : 600px;
    margin-right : 164px;
}
#gnb > ul > li
{
    width : 50px;
    box-sizing : border-box;
}
#gnb > ul .all_Menu img
{
    vertical-align : middle;
}
#gnb > ul > li+li
{
    margin-left : 85px;
}
#gnb ul li a
{
    display : block;
}
#gnb ul li:hover a,
#gnb ul li a:focus
{
    font-weight : 700;
}

#header_btn
{
    position : absolute;
    right : 0px;
    top : 0px;
    width: 1200px;
    height: 34px;
}

#header_btn ul
{
    height : 34px;
}
#header_btn ul li
{
    font-size : 12px;
    padding : 10px 20px;
}
#header_btn ul li:hover a,
#header_btn ul li a:focus
{
    text-decoration : underline;
}
/*sitemap start */
#sitemap {width: 1200px; height: 0; background: #ffffff; margin: 0 auto; -webkit-box-shadow: 0px 5px 5px #00000020; -moz-box-shadow: 0px 5px 5px #00000020; box-shadow: 0px 5px 5px #00000020; z-index: 750; overflow: hidden; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
#sitemap.site_show{height: 400px; border-top : 1px solid #aaa;}
#sitemap .sitemap_box {width: 1000px; height: 380px;margin: 0 auto;position: relative;}
#sitemap .sitemap_box .s_tit {float: left;}
#sitemap .sitemap_box .s_tit{margin-top: 25px; margin-bottom: 25px;}
#sitemap .sitemap_box > ul {font-size: 15px; font-weight: 500; color: #333333; margin-left: 150px;}
#sitemap .sitemap_box ul > li{float: left; width: 165px;}
#sitemap .sitemap_box ul li ul{margin-top: 30px;}
#sitemap .sitemap_box ul li ul:before{content:""; position: absolute; width: 30px;height: 2px;background: #ea651e;margin-top: -15px;}
#sitemap .sitemap_box ul li ul li{font-size: 13px; color: #555555; font-weight: 400;line-height: 1.7;}
/* sitemap end */

.contain
{
    width : 1200px;
    margin : 0px auto;
}


#footer
{
    position : relative;
    width : 100%;
    height : 200px;
    font-size : 12px;
    border-top : 1px solid #aaa;
    
}
#footer .footerbox {width: 1200px; height: 200px;margin: 0 auto; }
#footer .logo
{
    margin-bottom : 20px;
}
#footer > ul
{
    margin-bottom : 10px;
}
#footer ul li
{
    float :left;
    padding-bottom : 20px;
    border-bottom : 1px solid #aaa;
}
#footer ul li + li
{
    padding-left : 10px;
}
#footer ul li + li:before
{
    content : "";
    border-left : 1px solid #777;
    padding-left : 10px;
}
#footer .footer_txt
{
    text-align : right;
    position: relative;
    margin-top: -120px;
}
#footer .footer_txt strong
{
    font-size : 20px;
    display : block;
    margin-bottom : 30px;
}