@charset "utf-8";

/* common class */
#sub_m_tit h2{height: 80px; line-height: 80px; font-weight: 700; font-size: 30px; border-bottom: 1px solid #ddd;}
    /* movie */
#mv_content #sub_m_tit{width: 1200px; height: 150px; padding-top: 106px; margin: 0 auto;}
#sub_m_tit ul.mv_menu li{float: left; width: 33.3333%; height: 70px; line-height: 68px; font-size: 25px; color: #aaa;}
#sub_m_tit ul.mv_menu li:nth-child(1){border-bottom: 2px solid #aaa;}
#sub_m_tit ul.mv_menu li:nth-child(2){color: #eb651e; font-weight: 500; border-bottom: 2px solid #eb651e;}
#sub_m_tit ul.mv_menu li:nth-child(3){border-bottom: 2px solid #aaa;}
#sub_m_tit ul.mv_menu li:hover{color: #eb651e; border-bottom: 2px solid #eb651e;}
#sub_m_tit ul.mv_menu li a:focus{color: #eb651e; padding-bottom: 18px; border-bottom: 2px solid #eb651e;}
    /* join */
#sub_m_tit.join_menu{width: 100%; height: 210px; padding-top: 106px; background: url("../images/member/bg_login.jpg") no-repeat center 187px; margin: 0 auto;}
/* #sub_m_tit.join_menu:after{content: ""; display: block; width: 100%; height: 130px; background: url("../images/member/bg_login.jpg") no-repeat center 187px;} */
#sub_m_tit ul.tablist{width: 720px; height: 130px; margin: 0 auto;}
#sub_m_tit ul.tablist li{float: left; width: 286px; height: 130px; line-height: 130px; font-size: 40px; font-weight: 700; color: #fff; text-align: center;}
#sub_m_tit ul.tablist li:last-child{float: right;}
#sub_m_tit ul.tablist li:hover, #sub_m_tit ul.tablist li:focus, #sub_m_tit ul.tablist li.active{color: #eb651e; background: #fff; cursor: pointer;}

/* join */
#join_main{padding: 416px 0 90px;}

#join_main #tabpanel1{display: block; width: 1200px; margin: 0 auto;}
#join_main #tabpanel1 .join_privacy{width: 900px; margin: 0 auto; padding-bottom: 50px;}
#join_main #tabpanel1 .join_privacy:last-child{margin-top: 50px;}
#join_main #tabpanel1 .join_privacy > div:first-child{border-left: 5px solid #eb651e;}
#join_main #tabpanel1 .join_privacy h3{padding: 25px 0 25px 50px; color: #eb651e; font-size: 23px; font-weight: 700;}
#join_main #tabpanel1 .join_privacy p{height: 200px; line-height: 165%; font-size: 15px; overflow: auto; padding: 0 50px 50px;}
#join_main #tabpanel1 .join_privacy .jo_chk{bottom: 0; right: 0;}
#join_main #tabpanel1 .join_privacy .jo_chk span{color: #eb651e; font-weight: 500;}

#join_main .jo_form{display: block; width: 950px; margin: 0 auto;}
#join tr{font-size: 20px; height: 85px; text-align: left;}
#join tr input[type="text"], #join tr input[type="password"]{width: 206px; padding: 3px 0 3px 10px; font-size: 16px;}
#join tr select{font-size: 16px; height: 32px; padding: 0 3px 2px 4.5px;}
#join .tr5 .jo_f_w{width: 47px;}
#join tr th{width: 130px; background: url("../images/member/icon_check.jpg") no-repeat 0 18px;}
#join tr th:nth-child(1){padding-left: 8px; background-position-x: 0px;}
#join tr + tr th:nth-child(3){padding-left: 100px; background-position-x: 90px;}
#join .tr3 td label.jo_fz{font-size: 17px;}
#join tr td .jo_fz{font-size: 14px;}
#join .tr5 td span{padding: 0 2.5px 0 2.5px;}
#join button{color: #eb651e; border: 2px solid #eb651e; margin-left: 15px;}
#join button:hover, #join button:focus{color: #fff; background: #eb641e;}
#join tr td button{padding: 4px 13px; font-family: inherit; font-size: 14px; font-weight: 500;}
#join_main .join_member th button{width: 140px; height: 50px; font-size: 23px; font-weight: 700; color: #eb651e; border: 2px solid #eb651e; margin: 70px 20px 0;}
#join_main .join_member th button:hover, #join_main .join_member th button:focus{color: #fff; background: #eb641e;}

/* join opacity, transition */
#join button, #join_main .join_member th button{-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}

#join_content #join_main .tabpanel{display: none;}
#join_content #join_main .tabpanel.active{display: block;}

/* movie */
#mv_content #mv_two{padding-top: 1023px; padding-bottom: 130px;}
#mv_list{width: 100%; height: 41px; line-height: 41px;}
#mv_list h3, #mv_list a{position: absolute; float: left;}
#mv_list h3{top: 0; left: 541px;}
#mv_list a{position: absolute; display: block; width: 180px; height: 44px; top: 0; right: 0; color: #eb651e; border: 2px solid #eb651e; background: transparent url("../images/common/icon_plus.png") no-repeat 14px 50%;}
#mv_list a:hover, #mv_list a:focus{color: #fff; background: #ea651e url("../images/common/icon_plus_hover.png") no-repeat 14px 50%;}
#mv_list h3, .mv_steel h3{font-size: 20px; font-weight: 700;}

#mv_content .tablist{width: 1200px; height: 160px; margin-top: 18px;}
#mv_content .tablist li{float: left; position: relative; color: #fff; cursor: pointer;}
#mv_content .tablist li + li{margin-left: 21px;}
#mv_content .tablist li:last-child{margin-left: 22px;}
#mv_content .tablist li div{position: absolute; width: 284px; height: 160px; top: 0; left: 0; background: rgba(0,0,0,0);}
#mv_content .tablist li div:hover, #mv_content .tablist li div.on{background: rgba(0,0,0,0.6);}
#mv_content .tablist li div strong{display: block; padding-top: 47px; font-size: 28px; font-weight: 500;}
#mv_content .tablist li div p{font-size: 16px; font-weight: 100;}
    /* tabpanel */
#mv_content #mv_one{top: 346px; left: 0;}
#mv_content .tabpanel > img{display: inline-block; padding-left: 100px;}
#mv_content .mv_maintxt{display: inline-block; width: 610px; margin-left: 80px;}
#mv_content .mv_maintxt .mv_popu{color: #eb651e; font-size: 20px;}
#mv_content .mv_maintxt span{font-weight: 500;}
#mv_content .mv_maintxt h4{font-size: 36px; font-weight: 700;}
#mv_content .mv_maintxt .mv_italic{font-style: italic;}
#mv_content .mv_maintxt strong, #mv_content .mv_maintxt p{margin-top: 22px;}
#mv_content .mv_efc{float: right; top: 380px; right: 0;}
#mv_content .mv_efc a{display: inline-block; color: #eb651e; font-size: 14px; border: 2px solid #eb651e; padding: 5px 16px;}
#mv_content .mv_efc a + a{margin-left: 10px;}
#mv_content .mv_efc a:hover, #mv_content .mv_efc a:focus{color: #fff; background: #eb651e;}

#mv_content .mv_steel{display: inline-block; width: 654px; height: 155px; top: 425px; left: 566px;}
#mv_content .mv_steel h3{padding-bottom: 10px; padding-left: 22px;}
#mv_content .mv_steel .media_slider{width: 632px; height: 116px; overflow: hidden;}
#mv_content .mv_steel .media_slider ul{margin-left: 22px;}
#mv_content .mv_steel .media_slider ul li{float: left;}
#mv_content .mv_steel .media_slider .visual .mv_play a{background: url("../images/movie/icon_play.png");}

    /* movie slider */
#mv_content .mv_steel .media_slider .visual{width: 1920px !important; height: 116px;}
#mv_content .mv_steel .media_slider .bx-controls .bx-controls-direction a, #mv_content  .mv_steel .bx-controls .bx-controls-auto, #mv_content .mv_steel .bx-controls .bx-pager{position: absolute; z-index: 100; text-indent: -9999px;}
#mv_content .mv_steel .media_slider .bx-controls .bx-controls-direction a{top: calc((116px - 39px) / 2); width: 13px; height: 39px;}
#mv_content .mv_steel .media_slider .bx-controls .bx-controls-direction .bx-prev{left: 0px; background: url("../images/common/icon_small_left.png") no-repeat;}
#mv_content .mv_steel .media_slider .bx-controls .bx-controls-direction .bx-next{right: 0px; line-height: 39px; background: url("../images/common/icon_small_right.png") no-repeat;}
#mv_content .mv_steel .media_slider .bx-controls-direction .white{position: absolute; top: 0px;width: 22px; height: 116px; background: #fff;}
#mv_content .mv_steel .media_slider .bx-controls-direction .white:first-child{left: 0;}
#mv_content .mv_steel .media_slider .bx-controls-direction .white:last-child{right: 0px;}

#mv_content #mv_one .tabpanel{display: none;}
#mv_content #mv_one .tabpanel.active{display: block;}

#mv_content #mv_three a{display: inline-block;}
#mv_content #mv_three a + a{margin: 30px 0 100px;}

/* movie opacity, transition */
#mv_content .tablist .tab div strong, #mv_content .tablist .tab div p{-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; opacity: 0;}
#mv_content .tablist .tab div:hover, #mv_content .tablist .tab div.on, #mv_content .tablist .tab div:hover strong, #mv_content .tablist .tab div:hover p, #mv_content .tablist .tab div.on strong, #mv_content .tablist .tab div.on p{-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; opacity: 1;}
#sub_m_tit ul li, #mv_list a, #mv_content .tablist .tab div, #mv_content .tablist .tab div.active, #mv_content .tablist .tab div strong, #mv_content .tablist .tab div p, #mv_content .mv_efc a{-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}