@charset "utf-8";

/* common class */
#sub_m_tit{width: 100%; height: 150px; padding-top: 106px;}
#sub_m_tit h2{height: 80px; line-height: 80px; font-weight: 500; font-size: 30px; border-bottom: 1px solid #ddd;}
#sub_m_tit ul li{float: left; width: 25%; height: 70px; line-height: 68px; font-size: 25px; color: #aaa;}
#sub_m_tit ul li{border-bottom: 2px solid #aaa;}
#sub_m_tit ul li:hover ,#sub_m_tit .r_quick li:hover{color: #eb651e; border-bottom: 2px solid #eb651e;}
#sub_m_tit ul li a:focus,#sub_m_tit .r_quick li a:focus{color: #eb651e; padding-bottom: 18px; border-bottom: 2px solid #eb651e;}
.r_footer{ position: absolute;top: 1100px;}
.ms_footer{position: absolute; top: 1400px;}
#sub_m_tit .sub_select {color: #eb651e;border-color: #eb651e;}
#sub_m_tit .r_quick li{float: left; width: 33.3333%; height: 70px; line-height: 68px; font-size: 25px;}
#sub_m_tit .r_quick li+li{ color: #aaa;}
#sub_m_tit ul li,.featherlight-content .md a,#ms_box ul li, #ms_box .ms_h_txt.on ,#reserve_quick .r_poster_box ul li div,#reserve_quick .r_poster_box  ul li div a,#reserve_quick .r_poster_box .r_left,#reserve_quick .r_poster_box .r_right ,.featherlight-content .r_md .r_select_btn a{-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
#sub_m_tit .r_quick.sub_select {color: #eb651e;border-color: #eb651e;}
#ms_box ul li ,#reserve_quick .r_poster_box ul li div,#reserve_quick .r_select div ul,.featherlight-content .r_md .r_ticket  {box-shadow: 0px 0px 10px rgba(0,0,0,0.12);}
#reserve_quick .r_select div ul ,.featherlight-content .r_md .r_ticket ,.featherlight-content .r_md .r_ticket .r_t_bottom a {background: #ffffff;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}


/* membership */
#m_ship{ top: 300px;width: 1200px; height: 1100px;}
#m_ship .top_txt { text-align: left; margin-top: 20px;margin-bottom: 65px;}
#m_ship .top_txt strong { color: #eb651e; font-family:Josefin; font-weight: 700; font-size: 24px;}
#m_ship .top_txt p {padding-top: 26px; font-size: 16px; color: #555555; line-height: 1.63;}
#ms_box>ul>li{margin-right: 50px;margin-bottom: 70px; width: 550px; height: 320px; float: left; }
#ms_box>ul>li:nth-child(1){margin: none;}
#ms_box img {z-index: -100;}
#ms_box ul li:nth-child(1) {background:url("../../asset/images/membership/teener.jpg") no-repeat;}
#ms_box ul li:nth-child(2) {background:url("../../asset/images/membership/couple.jpg") no-repeat;}
#ms_box ul li:nth-child(3) {background:url("../../asset/images/membership/kinder.jpg") no-repeat;}
#ms_box ul li:nth-child(4) {background:url("../../asset/images/membership/family.jpg") no-repeat;}
#ms_box .ms_h_txt { width: 550px; height: 320px;margin: 0 auto; text-align: center; color: #ffffff; background: rgba(0,0,0,0); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
#ms_box .ms_h_txt:hover , #ms_box .ms_h_txt.on { background: rgba(0,0,0,.6);}
#ms_box .ms_h_txt h5 { font-family: Josefin; font-size: 40px; font-weight: 700; padding-top: 82px;}
#ms_box .ms_h_txt strong { font-family: Josefin; font-weight: 400; font-size: 18px;}
#ms_box .ms_h_txt strong:after { content: "";position: absolute; top: 166px; left: 15px;width: 520px;height: 2px;background: #fff;}
#ms_box .ms_h_txt p { font-size: 16px; padding-top: 46px;height: 40px; line-height: 40px;}
#ms_box .ms_h_txt .link { position: absolute; top: 243.5px; left: 185px;width: 180px; height: 40px; line-height: 40px;font-size: 16px;border: 2px solid #fff; background:url("../../asset/images/common/icon_plus_hover.png") no-repeat 19.2px 50%;}
#ms_box .ms_h_txt .link:hover,#ms_box .ms_h_txt .link:focus{ color: #000; background:#ffffff
    url("../../asset/images/common/icon_plus_hover_black.png") no-repeat 19.2px 50%;}
#ms_box .ms_h_txt{ opacity: 0; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
#ms_box .ms_h_txt:hover , #ms_box .ms_h_txt.on ,#ms_box .ms_h_txt:focus{ opacity: 1; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
#ms_notice { color: #999999; line-height: 35px;}

/* membership modal */
.md {display: none;}

.featherlight .featherlight-content{width: 700px; height: 1000px; margin: 0;padding: 0;overflow: hidden;}
.featherlight .featherlight-close-icon{top: 25px; right: 25px;width: 22px;line-height: 22px; font-size: 35px; color: #ffffff;background:none;}

.featherlight-content .md { position: relative;text-align: center; margin: 0;padding: 0;}
.featherlight-content .md p{ padding-top: 70px;padding-bottom: 10px;left: -10px;}
.featherlight-content .md strong { font-family:Josefin; font-weight: 700; font-size: 35px; color: #eb651e;}
.featherlight-content .md span { display: block;font-size: 20px; line-height: 60px; padding-top:80px;}
.featherlight-content .md span:after { content:"";position: absolute;width: 680px;left:-0px;height: 1px;background: #ddd;top: 586px;}
.featherlight-content .md .md_subject{ font-size: 15px; color: #999999; text-align: left;padding-left: 200px;padding-top: 0; margin-top: -12px;line-height: 30px;}
.featherlight-content .md a {line-height: 80px; font-weight: 500;color: #ffffff; font-size: 20px;z-index: 300;position: absolute; left: 0; top: 920px; width: 700px; height: 80px; color: #555555; border-top: 1px solid #ddd; }
.featherlight-content .md a:hover ,.featherlight-content .md a:focus {background: #eb651e; color: #ffffff;}
/* membership end */

/* reserve quick */
#reserve_quick {width: 1200px; height: 900px;top: 260px;}
#reserve_quick .r_select {height: 80px;margin-bottom: 110px;border-bottom: 1px solid #ddd;}
#reserve_quick .r_poster_box ul li {width: 270px; height: 400px; color: #ffffff;}
#reserve_quick .r_poster_box ul li + li { margin-left: 40px;}
#reserve_quick .r_poster_box ul li div {height: 400px; padding-top: 111px; top: 0; left: 0px; background: rgba(0,0,0,0);text-align: center;z-index: 400;}
#reserve_quick .r_poster_box ul li div:hover , #reserve_quick .r_poster_box ul li div.on {background: rgba(0,0,0,.6);}
#reserve_quick .r_poster_box  ul li div strong{display: block; font-size: 30px; font-weight: 500;}
#reserve_quick .r_poster_box  ul li div p{font-size: 13px; font-weight: 100;margin-bottom: 57px;}
#reserve_quick .r_poster_box  ul li div a{display: inline-block; width: 180px; height: 40px; line-height: 36px; border: 2px solid #fff; font-weight: 100; font-size: 18px;}
#reserve_quick .r_poster_box  ul li div a:hover , #reserve_quick .r_poster_box  ul li div a:focus { background: #ffffff; color: #333333; font-weight: 500;}
#reserve_quick .r_poster_box  ul li div a + a {margin-top: 14.4px; }
#reserve_quick .r_poster_box  ul li div { opacity: 0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';}
#reserve_quick .r_poster_box  ul li:hover div { opacity: 1;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';}
#reserve_quick .r_poster_box ul li ul li {width: 55px; height: 55px;}

#reserve_quick .r_poster_box .r_left { top: 700px;left: 0; width: 51px;height: 51px;border: 2px solid #ddd;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;background: url("../images/reserve/btn_prev_round.gif") no-repeat -11px;}
#reserve_quick .r_poster_box .r_left:hover {border-color: #eb651e;background: url("../images/reserve/btn_prev_round_hover.gif") no-repeat -11px;}
#reserve_quick .r_poster_box .r_right { top: 700px;right: 0; width: 51px;height: 51px;border: 2px solid #ddd;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;background: url("../images/reserve/btn_next_round.gif") no-repeat 9px;}
#reserve_quick .r_poster_box .r_right:hover {border-color: #eb651e;background: url("../images/reserve/btn_next_round_hover.gif") no-repeat 9px;}

/* reserve modal */
.r_md{ display: none;}
.featherlight-content .r_md img:nth-child(1) {position: absolute; top: 25px; left: 25px;}
.featherlight-content .r_md h6 { color: #eb651e; font-size: 25px;text-align: center;margin: 15px auto;}
.featherlight-content .r_md h6:after{ content:"";position: absolute;left: 0;top: 420px;width: 200px; height: 3px;background: #eb651e;margin-left: 250px;}
.featherlight-content .r_md ul li {float: left;}
.featherlight-content .r_md .r_ticket{ margin-top: 60px;margin-left: 35px;width: 184px; height: 264px;background: #ffffff;padding: 0; color: #333333;}
.featherlight-content .r_md .r_ticket .r_t_top {margin: 10px 10px;font-size: 11px;}
.featherlight-content .r_md .r_ticket .r_t_bottom {width: 140px; height: 200px;margin: 50px 10px 0 20px;}
.featherlight-content .r_md .r_ticket .r_t_bottom strong {font-size: 25px; font-weight: 500;padding-bottom: 30px;}
.featherlight-content .r_md .r_ticket .r_t_bottom strong:after { content:"";position: absolute;top:-7px;left: -15px; width: 170px;height: 1px;background: #333333;}
.featherlight-content .r_md .r_ticket .r_t_bottom strong:before{ content:"";position: absolute;top:70px;left: -15px; width: 170px;height: 1px;background: #333333;}
.featherlight-content .r_md .r_ticket .r_t_bottom .r_eng_name { font-size: 11px;font-family:Josefin;margin-top: 45px;margin-bottom: 22px;}
.featherlight-content .r_md .r_ticket .r_t_bottom .r_t_cinema {font-size: 10px;}
.featherlight-content .r_md .r_ticket .r_t_bottom .r_t_seat {font-size: 20px;font-weight: 500;}
.featherlight-content .r_md .r_ticket .r_t_bottom .r_t_num {font-size: 10px}
.featherlight-content .r_md .r_ticket .r_t_bottom a {display: block;width: 69px;height: 25px; background: #eb651e; font-size: 17px;color: #ffffff;line-height: 25px;text-align: center;margin-top: 30px;float: right;}





.featherlight-content .r_md .r_select_btn a{display: inline-block;width: 350px; height: 70px; font-size: 20px;font-weight: 500; text-align: center;line-height: 70px;color: #aaaaaa;}
.featherlight-content .r_md .r_select_btn { left: 0px;bottom: 0;}
.featherlight-content .r_md .r_select_btn a {background: #ffffff; border-top: 1px solid #aaa;border-right: 1px solid #aaa;}
.featherlight-content .r_md .r_select_btn a:hover ,.featherlight-content .r_md .r_select_btn a.on  {background: #eb651e;right: 0;color: #ffffff;border:none;}


/* scroll */
#reserve_quick .r_select { text-align: center; z-index: 700;}
#reserve_quick .r_select div {top: 16px; height: 47px;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;line-height: 47px; background: #f1f1f1;}
#reserve_quick .r_select .r_cinema {left: 131px;width: 277px;}
#reserve_quick .r_select .r_number {right: 310px;width: 125px;}
#reserve_quick .r_select .r_date{right: 167px;width: 125px;}
#reserve_quick .r_select .r_number ul li ,#reserve_quick .r_select .r_date ul li{ content:""; border-bottom: 1px solid #f1f1f1; }
#reserve_quick .r_select .r_number ul {width: 58px;height: 295px;}
