@charset "utf-8";

/* common class */
#sub_m_tit{width: 100%; height: 150px; padding-top: 106px;}
h2{height: 80px; line-height: 80px; font-weight: 500; font-size: 30px; border-bottom: 1px solid #ddd;}
#sub_m_tit ul li{float: left; width: 33.3333%; height: 70px; line-height: 68px; font-size: 25px; color: #aaa;}
#sub_m_tit ul li:nth-child(1){border-bottom: 2px solid #aaa;}
#sub_m_tit ul li:nth-child(2){color: #eb651e; font-weight: 500; border-bottom: 2px solid #eb651e;}
#sub_m_tit ul li:nth-child(3){border-bottom: 2px solid #aaa;}
#sub_m_tit ul li:nth-child(4){border-bottom: 2px solid #aaa;}
#sub_m_tit ul li:hover{color: #eb651e; border-bottom: 2px solid #eb651e;}
#sub_m_tit ul li a:focus{color: #eb651e; padding-bottom: 18px; border-bottom: 2px solid #eb651e;}


